.offer-picture {
    height: 400px;
    background-color: grey;
}

.offer-category__span {
    color: #005bff;
    cursor: pointer;
}

.offer-atribute {
    border-bottom: dashed 2px;
}

.offer-atribute__label {
    color: gray;
    font-size: 20px;
}

.offer-atribute__value {
    font-size: 20px;
}

.offer-price-content__price {
    font-size: 26px;
}
